ckpt*
data
logs
mnist_tests
models
patches
plots
tests
__pycache__
.gitignore
.ipynb_checkpoints
archive
*.csv
*.png
*.mp4
*.tar
.json
kfold1
kfold2
imagery_nobatching/
imagery_noclass/
negative_one/
pred_on_ht_stillclass/
tanh_change_only/
